.button {
	display: inline-block;

	-webkit-box-sizing: border-box;

	box-sizing: border-box;

	padding: 10px;

	cursor: pointer;

	-webkit-transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;

	-o-transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;

	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-size: 14px;
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.ghost {
	color: var(--black);

	border: 1px solid var(--gray-light);
	background: none;
}

.ghost svg {
	-webkit-transition: fill 0.2s ease-in-out;
	-o-transition: fill 0.2s ease-in-out;
	transition: fill 0.2s ease-in-out;
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
}

.arrow {
	display: inline-block;

	margin-left: 10px;
}

.down {
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	transition: -webkit-transform 0.2s ease-in-out;
	-o-transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
	transition:
		transform 0.2s ease-in-out,
		-webkit-transform 0.2s ease-in-out;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.primary svg,
.ghost:hover svg {
	fill: var(--white);
}
