.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;
	margin-top: 10px;

	font-size: 18px;
	font-weight: 500;
	line-height: normal;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	margin-top: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);
	font-size: 12px;
	font-weight: 300;
}

.secondBlock {
	margin-left: 12px;
	padding-left: 32px;

	border-left: 1px solid #dfdfdf;

	outline-offset: -1px;
}

.secondLevelBlock {
	overflow: hidden;
	margin-top: 5px;
}

.thirdLevel {
	cursor: pointer;

	display: block;

	color: var(--gray-dark);
	font-size: 14px;
	font-weight: 500;
	text-transform: none;

	outline-offset: -1px;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
