.product {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px)
		[middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto
		[creditend] 40px [ratestart] auto [end];
	grid-template-columns:
		[start] 70px [logoend] 30px [titlestart] calc(50% - 100px)
		[middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];

	margin-top: 30px;

	padding: 30px;
}

.logo {
	grid-column: start / logoend;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	grid-row: 1 / span 2;
}

.logo img {
	border-radius: 5px;
}

.title,
.rate,
.price,
.credit {
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.priceTitle {
	grid-column: pricestart / priceend;

	white-space: nowrap;
}

.oldPrice {
	margin: 0;
	margin-left: 5px;
}

.credit,
.creditTitle {
	grid-column: creditstart / creditend;
}

.price,
.credit {
	font-size: 20px;
	font-weight: 400;
}

.month {
	font-size: 14px;
}

.rate,
.rateTitle {
	grid-column: ratestart / end;

	white-space: nowrap;
}

.rateTitle a {
	color: var(--primary);
}

.priceTitle,
.creditTitle,
.rateTitle {
	font-size: 14px;
	font-weight: 300;
}

.tags {
	margin-top: 10px;
	margin-bottom: 20px;
}

.hr {
	margin: 20px 0;
}

.hr,
.description,
.actions {
	grid-column: start / end;
}

.description {
	margin-bottom: 14px;
}

.feature {
	grid-column: start / middle;
}

.characteristics {
	display: -ms-grid;
	display: grid;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	padding-right: 25px;

	font-size: 16px;
	-ms-grid-columns: auto 10px 1fr 10px auto;
	grid-template-columns: auto 1fr auto;
	gap: 10px;
}

.characteristicsName {
	font-weight: bold;
}

.characteristicsDots {
	margin-top: 5px;

	border-bottom: 1px dashed var(--gray-light);
}

.characteristicsValue {
	font-weight: 500;
}

.advBlock {
	grid-column: middle / end;

	font-size: 16px;
}

.advTitle {
	margin-bottom: 5px;

	font-weight: 700;
}

.advantages,
.disadvantages {
	padding-left: 15px;

	border-left: 3px solid;
	border-radius: 3px;
}

.advantages {
	margin-bottom: 20px;

	border-color: #1dc37e;
}

.disadvantages {
	border-color: var(--red);
}

.btn {
	margin-right: 20px;
	margin-bottom: 10px;
}

.reviews {
	overflow: hidden;

	padding: 30px;
}

@media screen and (width <= 1320px) {
	.product {
		-ms-grid-columns: 70px 30px auto 40px auto 40px 1fr;
		grid-template-columns: 70px 30px auto 40px auto 40px 1fr;

		grid-template-areas:
			'logo . title title title title title'
			'logo . tags tags tags tags tags'
			'price price price . credit . rate'
			'priceTitle priceTitle priceTitle . creditTitle . rateTitle'
			'hr hr hr hr hr hr hr'
			'description description description description description description description'
			'feature feature feature feature feature feature feature'
			'advBlock advBlock advBlock advBlock advBlock advBlock advBlock'
			'hr2 hr2 hr2 hr2 hr2 hr2 hr2'
			'actions actions actions actions actions actions actions';
	}

	.logo {
		grid-area: logo;
	}

	.title {
		grid-area: title;

		margin-bottom: 20px;
	}

	.tags {
		grid-area: tags;
	}

	.price {
		grid-area: price;
	}

	.credit {
		grid-area: credit;
	}

	.rate {
		grid-area: rate;
	}

	.priceTitle {
		grid-area: priceTitle;
	}

	.creditTitle {
		grid-area: creditTitle;
	}

	.rateTitle {
		grid-area: rateTitle;
	}

	.hr {
		grid-area: hr;
	}

	.description {
		grid-area: description;
	}

	.feature {
		grid-area: feature;

		margin-bottom: 20px;
	}

	.advBlock {
		grid-area: advBlock;
	}

	.hr2 {
		grid-area: hr2;
	}

	.actions {
		grid-area: actions;
	}
}

@media screen and (width <= 1320px) {
	.logo {
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 1;
	}
	.title {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
		-ms-grid-column-span: 5;
	}
	.tags {
		-ms-grid-row: 2;
		-ms-grid-column: 3;
		-ms-grid-column-span: 5;
	}
	.price {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}
	.credit {
		-ms-grid-row: 3;
		-ms-grid-column: 5;
	}
	.rate {
		-ms-grid-row: 3;
		-ms-grid-column: 7;
	}
	.priceTitle {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}
	.creditTitle {
		-ms-grid-row: 4;
		-ms-grid-column: 5;
	}
	.rateTitle {
		-ms-grid-row: 4;
		-ms-grid-column: 7;
	}
	.hr {
		-ms-grid-row: 5;
		-ms-grid-column: 1;
		-ms-grid-column-span: 7;
	}
	.description {
		-ms-grid-row: 6;
		-ms-grid-column: 1;
		-ms-grid-column-span: 7;
	}
	.feature {
		-ms-grid-row: 7;
		-ms-grid-column: 1;
		-ms-grid-column-span: 7;
	}
	.advBlock {
		-ms-grid-row: 8;
		-ms-grid-column: 1;
		-ms-grid-column-span: 7;
	}
	.hr2 {
		-ms-grid-row: 9;
		-ms-grid-column: 1;
		-ms-grid-column-span: 7;
	}
	.actions {
		-ms-grid-row: 10;
		-ms-grid-column: 1;
		-ms-grid-column-span: 7;
	}
}

@media screen and (width <= 930px) {
	.product {
		-ms-grid-columns: 70px 30px 1fr;
		grid-template-columns: 70px 30px 1fr;

		grid-template-areas:
			'logo . title'
			'logo . tags'
			'priceTitle priceTitle price'
			'creditTitle creditTitle credit'
			'rateTitle rateTitle rate'
			'hr hr hr'
			'description description description'
			'feature feature feature'
			'advBlock advBlock advBlock'
			'hr2 hr2 hr2'
			'actions actions actions';
	}

	.title {
		margin-bottom: 0;
	}

	.price,
	.rate,
	.credit {
		margin-bottom: 10px;
	}
	.logo {
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 1;
	}
	.title {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
	}
	.tags {
		-ms-grid-row: 2;
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
	}
	.price {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
	}
	.credit {
		-ms-grid-row: 4;
		-ms-grid-column: 3;
	}
	.rate {
		-ms-grid-row: 5;
		-ms-grid-column: 3;
	}
	.priceTitle {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}
	.creditTitle {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}
	.rateTitle {
		-ms-grid-row: 5;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}
	.hr {
		-ms-grid-row: 6;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}
	.description {
		-ms-grid-row: 7;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}
	.feature {
		-ms-grid-row: 8;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}
	.advBlock {
		-ms-grid-row: 9;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}
	.hr2 {
		-ms-grid-row: 10;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}
	.actions {
		-ms-grid-row: 11;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}
}

@media screen and (width <= 480px) {
	.product {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;

		grid-template-areas:
			'logo'
			'title'
			'tags'
			'price'
			'priceTitle'
			'credit'
			'creditTitle'
			'rate'
			'rateTitle'
			'hr'
			'description'
			'feature'
			'advBlock '
			'hr2'
			'actions';
	}
	.logo {
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
	}
	.title {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.tags {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.price {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.credit {
		-ms-grid-row: 6;
		-ms-grid-column: 1;
	}
	.rate {
		-ms-grid-row: 8;
		-ms-grid-column: 1;
	}
	.priceTitle {
		-ms-grid-row: 5;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.creditTitle {
		-ms-grid-row: 7;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.rateTitle {
		-ms-grid-row: 9;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.hr {
		-ms-grid-row: 10;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.description {
		-ms-grid-row: 11;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.feature {
		-ms-grid-row: 12;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.advBlock {
		-ms-grid-row: 13;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.hr2 {
		-ms-grid-row: 14;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.actions {
		-ms-grid-row: 15;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
}
