.footer {
	display: -ms-grid;
	display: grid;

	-webkit-box-align: center;

	-ms-flex-align: center;

	align-items: center;

	padding: 25px 30px;

	color: var(--white);
	background-color: var(--primary);

	font-size: 16px;
	line-height: 20px;
	-ms-grid-columns: 1fr 40px auto 40px auto;
	grid-template-columns: 1fr auto auto;
	gap: 10px 40px;
}

.footer a:hover {
	color: var(--gray-light);
}

@media (width <= 765px) {
	.footer {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}
