.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;
	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	line-height: normal;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
}

.secondLevelBlock {
	margin-top: 13px;
}

.secondBlock {
	margin-left: 12px;
	margin-top: 14px;
	padding-left: 32px;

	border-left: 1px solid #dfdfdf;
}

.secondLevelBlockOpened:last-child {
	margin-bottom: 20px;
}

.thirdLevel {
	margin-bottom: 10px;
	cursor: pointer;

	display: block;

	color: var(--gray-dark);
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
